<%= form_for(@project00) do |f| %>
  <% if @project00.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project00.errors.count, "error") %> prohibited this project00 from being saved:</h2>

      <ul>
      <% @project00.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
